.outer-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: min(1000px, 80%);
  place-content: center;
}

.container {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 100px 120px;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  border-radius: 2px;
  height: 600px;
}

.card-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 20px;
  background: white;
  height: 100%;
  width: 100%;
  box-shadow: -6.1px -10.2px 2.9px -7px rgba(0, 0, 0, 0.024),
    -2.5px -4.2px 7.2px -7px rgba(0, 0, 0, 0.034),
    8.4px 14px 14.7px -7px rgba(0, 0, 0, 0.043),
    27.6px 45.8px 30.3px -7px rgba(0, 0, 0, 0.055),
    68px 113px 83px -7px rgba(0, 0, 0, 0.08);
}

.faq {
  padding: 40px;
  font-family: Kumbh Sans;
}

.faq h1 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.img {
  position: absolute;
}

.lady-img {
  top: 50%;
  transform: translate(-15%, -50%);
}

.shadow-img {
  top: 55%;
  transform: translate(-20%, -50%);
}

.box-img {
  top: 45%;
  transform: scale(0.5) translate(-75%, -50%);
}

@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content 1fr;
    gap: 20px;
  }

  .image-container {
    overflow: revert;
  }

  .lady-img {
    top: -200px;
    transform: scale(0.5);
  }

  .shadow-img {
    top: -280px;
    left: -20px;
    transform: scale(0.5);
  }

  .box-img {
    top: -80px;
    left: 80px;
    transform: scale(0.5);
  }
}
