:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(2250, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --weight-small: 500;
  --weight-medium: 700;
  --weight-large: 900;

  --sm: 640;
  --md: 768;
  --lg: 1024;
  --xl: 1280;
  --xxl: 1280;
}

body {
  background-color: rgb(240, 247, 254);
  font-size: 16px;
  font-family: "Red Hat Display";
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 800px;
  width: 80%;
}

.background-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #e4ebfe;
  box-shadow: 4px 6px 8px rgba(1, 1, 1, 0.1);
  border-radius: 4px;
}

.bg-1 {
  height: 50%;
  background: lightblue;
  background: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: 35% 100%;
  border-radius: 5px;
}

.card {
  position: absolute;
  min-height: 80%;
  height: auto;
  width: 65%;
  max-width: 300px;
  border-radius: 10px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 4px 6px rgba(1, 1, 1, 0.1);
}

.card-content {
  padding: 0 30px 30px 30px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  text-align: center;
}

.card-content > h2 {
  color: var(--dark-blue);
  font-weight: var(--weight-large);
  margin-bottom: 0;
}

.card-content > p {
  margin: 0;
  color: var(--desaturated-blue);
}

article > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.annual-plan {
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  padding: 20px 12px;
  grid-template-columns: 1fr;
  display: grid;
  align-items: center;
  justify-items: start;
}

.annual-plan-content {
  line-height: 1.5;
}

.annual-plan-content > p {
  margin: 0;
}

.annual-plan > img {
  display: none;
}

.annual-plan-content p:first-child {
  color: var(--dark-blue);
  font-weight: var(--weight-large);
}

.annual-plan-content p:last-child {
  color: var(--desaturated-blue);
}

button {
  font-weight: var(--weight-medium);
  border-radius: 12px;
  padding: 16px 30px;
  cursor: pointer;
}

.proceed-button {
  background-color: var(--bright-blue);
  border: none;
  color: white;
  margin-top: 16px;
  box-shadow: 4px 6px 8px rgba(1, 1, 1, 0.2);
  transition: all ease-in-out 0.3s;
}

.proceed-button:hover {
  filter: brightness(0.8);
}

.cancel-order-button {
  background-color: transparent;
  border: none;
  color: var(--desaturated-blue);
  transition: all ease-in-out 0.3s;
}

.cancel-order-button:hover {
  color: black;
}

.annual-plan-change {
  transition: all ease-in-out 0.3s;
}

.annual-plan-change:hover {
  filter: brightness(0.8);
}

@media (min-width: 768px) {
  .card {
    min-width: 400px;
  }

  .annual-plan > img {
    display: block;
  }

  .annual-plan {
    padding: 20px 12px;
    grid-template-columns: 100px 1fr 80px;
  }
}
