:root {
  --mobile: 375px;
  --desktop: 1440px;

  --primary: hsl(300deg 43% 22%);
  --secondary: hsl(333deg 80% 67%);

  --gray-300: hsl(303deg 10% 53%);
  --gray-200: hsl(300deg 24% 96%);
  --gray-100: hsl(0deg 0% 100%);

  --base: 400;
  --semibold: 500;
  --bold: 700;
}

.container {
  max-width: 1024px;
  margin: auto;
  height: 100%;
  line-height: 1.1;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 30px 60px;
  text-align: center;
}

.container h1 {
  padding-inline: 30px;
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 10px;
}

.container .subtitle {
  color: var(--gray-300);
  margin-bottom: 30px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-card {
  border-radius: 6px;
  align-items: center;
  gap: 12px;
  color: var(--primary);
  font-weight: var(--bold);
  background-color: var(--gray-200);
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
}

.review-card .description {
  color: var(--primary);
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  padding: 20px;
  border-radius: 6px;
  background-color: var(--primary);
}

.testimonial-card .user {
  display: flex;
  gap: 10px;
}

.testimonial-card .user-details {
  line-height: 1.5;
}

.testimonial-card .username {
  color: white;
}

.testimonial-card .job-title {
  color: var(--secondary);
}

.testimonial-card .review {
  color: var(--gray-100);
  line-height: 1.5;
}

.testimonial-card .review::after,
.review::before {
  content: '"';
}

.testimonial-card img {
  border-radius: 50%;
  width: 36px;
  aspect-ratio: 1;
}

.flex {
  display: flex;
}

.gap {
  gap: 6px;
}

#bg-desktop-top {
  display: none;
}

#bg-desktop-bottom {
  display: none;
}

#bg-mobile-top {
  position: absolute;
  left: 0;
  top: 0;
}

#bg-mobile-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.testomonials {
  grid-column: span 2;
}

@media (min-width: 840px) {
  #bg-mobile-top {
    display: none;
  }

  #bg-mobile-bottom {
    display: none;
  }

  #bg-desktop-top {
    display: revert;
    position: absolute;
    left: 0;
    top: 0;
  }
  #bg-desktop-bottom {
    display: revert;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .container {
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    grid-template-areas:
      "header reviews"
      "testimonials testimonials";
  }

  .container h1 {
    font-size: 36px;
  }

  .testimonials {
    grid-area: testimonials;
    flex-direction: row;
    gap: 16px;
  }

  .testimonial-card:nth-child(1) {
    margin-bottom: 24px;
  }
  .testimonial-card:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .testimonial-card:nth-child(3) {
    margin-top: 24px;
  }

  .reviews {
    padding: 12px 24px;
  }

  .header {
    padding: 12px 24px;
    grid-area: header;
    text-align: left;
  }

  .review-card {
    flex-direction: row;
    width: max-content;
    padding-right: 64px;
    padding-left: 24px;
  }

  .review-card:nth-child(1) {
    margin-right: 80px;
  }

  .review-card:nth-child(2) {
    margin-left: 40px;
    margin-right: 40px;
  }

  .review-card:nth-child(3) {
    margin-left: 80px;
  }

  .header h1 {
    padding-inline: revert;
  }

  .reviews {
    grid-area: reviews;
  }
}
